* {
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #0B0B0B;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-family: Roboto Condensed, sans-serif;
    font-weight: 400;
}

/* ---------------------------- шапка ---------------------------- */

.header {
    height: 100vh;
    position: absolute;
    z-index: 5;
    background: rgba(11, 11, 11, 0.3);
    left: 0;
    right: 0;
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 36px;
    margin-bottom: 29px;
}

.header-btn {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    margin-top: 31px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.header-btn div {
    width: 36px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
}

.header-content__title {
    font-size: 96px;
    font-family: Roboto, sans-serif;
    line-height: 112px;
    margin-bottom: 40px;
}

.header-content__text {
    width: 284px;
    margin-bottom: 25px;
}

.button {
    display: inline-block;
    border: 1px solid #fff;
    padding: 30px 62px;
    background: rgba(255, 255, 255, 0.15);
    transition: all .5s;
}

.button:hover {
    background: #770302;
}

.slider__item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* ---------------------------- слайдер ---------------------------- */

.slider-top {
    margin-bottom: 160px;
}

.slider .slick-dots {
    margin: -55px auto 0;
    max-width: 1200px;
    position: relative;
    z-index: 6;
}

.slider .slick-dots li {
    display: inline-block;
    margin: 0 10px;
}

.slider .slick-dots button {
    height: 15px;
    width: 15px;
    border: none;
    border-radius: 50%;
    background: #0B0B0B;
    font-size: 0;
    cursor: pointer;
    outline: none;
}

.slider .slick-dots .slick-active button {
    background: #fff;
}


/* --------------------------- преимущества --------------------------- */

.strengths {
    margin-bottom: 100px;
}

.strengths-row {
    display: flex;
    justify-content: space-around;
}

.strengths-item__title {
    margin-bottom: 20px;
}
.strengths-item__num {
    font-family: Roboto;
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 10px;
    position: relative; 
}

.strengths-item__num span {
    font-family: Roboto Condensed;
    font-size: 24px;
    line-height: 28px;
    margin-left: -15px;
}

.strengths-item__num--speed span::before {
    content: '+';
    position: absolute;
}

.strengths-item__descr {
    color: #B70021;
}

.video {
    margin-bottom: 100px;
}

/* ------------------------- Преимущества ------------------------- */

.advantages {
    margin-bottom: 100px;
}

.advantages-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.advantages__descr {
    max-width: 570px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
}

.advantages__title {
font-size: 36px;
line-height: 42px;
color: #B70021;
position: absolute;
top: 0;
}

.advantages__title--bottom {
    right: 0;
    bottom: 0;
    top: auto;
}

.advantages__text {
    max-width: 303px;
}

.advantages-list {
    list-style: none;
}

/* ------------------------- дизайн ------------------------- */
.design {
    margin-bottom: 100px;
}

.design-img {
    margin-bottom: 100px;
}
.design-descr {
    display: flex;
    justify-content: space-between;
}
.desing-desrc__col {
    display: flex;
    justify-content: space-between;
    max-width: 570px;
    width: 100%;
}

.design-descr__num {
    color: #B70021;
}

.design-descr__text {
    margin-right: 15px;
    max-width: 430px;
    width: 100%;
    padding-top: 25px;
}


/* ------------------------ footer ------------------------ */
.footer {
    background: #690102;
    padding: 83px 0 20px;
}

.footer-btn {
    margin-bottom: 83px;
    text-align: center;
}

.menu {
    text-align: center;
    font-weight: 700;
}
.menu-list {
    list-style: none;
    position: relative;
} 

.menu-list li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.menu-list li + li::before {
    content: "|";
    position: absolute;
    left: -15px;
}




/* меню */

.nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    background: #000;
    z-index: 7;
    transition: all .5s;
}

.nav.active {
    left: 0;
}

.nav-container {
    position: relative;
}

.list-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

.list-wrapper.nav__list {
    list-style: none;
    max-width: 368px;
    width: 100%;
}

.list-wrapper .nav__item {
    padding: 30px 25px 20px 0;
    border-bottom: 2px solid #B70021;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    transition: all .5s;
}

.list-wrapper .nav__item:hover {
    border-bottom: 2px solid #fff;
    transform: scale(1.2);
    margin-left: 33px;
}

.nav-btn {
    position: absolute;
    height: 50px;
    width: 50px;
    background: #000;
    right: 15px;
    top: 31px;
    cursor: pointer;
}

.nav-btn::before, .nav-btn::after {
    content: '';
    height: 2px;
    width: 70px;
    background: #fff;
    position: absolute;
    transform-origin: left;
}

.nav-btn::before {
    transform: rotate(-45deg);
    bottom: -1px;
}

.nav-btn::after {
    transform: rotate(45deg);
}